

/*base*/
body{
    font-family: 'Noto Sans JP', "MS Pゴシック",sans-serif;
    font-size:15px;
    line-height:1.5;
    color:#333;
}


 .section{}
 .section-head-line{}
 .about{}
 .about-img{} 
 .about-caption{}
 .about-head-line{}
   
